.test{
    display: inline-block;
}
.tab-content img{
    width: 200px;
}
.tab-content{
    position: relative;
}
.test ul{
    position: absolute;
}
.nav_nav-pills_mb-3 li{
    display: inline-block;
}