@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*不要更動上面是取消預設值*/




/*導覽列*/

.menu{
    background-color: #FCD3A9;
    position: fixed;
    width: 100vw;
    height: 67px;
    top:0;
	left:0;
	width:100%;
	z-index:100;
    box-shadow: -1px 4px 7px 3px rgb(173 163 163);
}

.brand-logo{
    position: absolute;
    margin-left: 196px;


}

img{
    width: 119px;
    margin: 11.5px 0;
}

.clearfix {
    display: inline-block;
    margin-left: 50%;
}

.clearfix a{
     color: inherit;
     text-decoration:none
}

.menu li{
    display: inline-block;
    margin: 0;
    font-size: 18px;
    font-weight:bold;
}

#nav ul{
    position:relative;}

#nav-indicator{
	position:absolute;
    margin-left: 50px;
	width:89px;
	top:55px;
	left:0;
	height:5px;
	background:#6C8DE4;	
	
	-webkit-transition: all 0.2s ease;
	-moz-transition:    all 0.2s ease;
	-o-transition:      all 0.2s ease;
	-ms-transition:     all 0.2s ease;
	transition:         all 0.2s ease;
}

.nav-btn{
    width: 126px;
    float: left;
    padding: 20px 0;
    list-style: none;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: #5170c3;
}

.nav-btn:hover, .nav-btn.active {
    color: #747c93;
    background: #e7c6a5;
}

/*倫波*/

.carousel-item{
    top: 58px;
}

.carousel-indicators .active{
    background-color: #6C8DE4;
}

/*catffee功能*/




/*吉祥物介紹*/










/*團隊介紹*/

.name{
    margin: 10% 35%;
    display: flex;
    align-items: center;
}

.name h3{
    font-weight: 600;
}
.name ul{
    margin: 0%;
    padding-left: 99px;
    }

.name ul li{
    list-style: none;
}

/*footer*/

.colorfooter{
    background-color: #FCD3A9;
    height:398px;
}

.containerfooter{
	color: #6C8DE4;
	font-size: 12px;
    font-weight:300;
	line-height: 36px;
	text-align: center;
    padding-top: 5%;

}

.img{
	margin-top:32px;
    width: 4%;
}

.containerfooter li{
	margin-bottom:16px;
    list-style: none;
}







/*跨區域多個共用*/

.container01{
    margin-top: 100px;   
    margin-bottom: 112px; 
}



.subtitle{

    color: #6C8DE4;
    text-align: center;
    font-weight: 600; 
    font-size: 32px;
	line-height: 45px;
	border-bottom:  8px solid #FCD3A9;
	margin: 0 auto;
	width: 525px;
	padding-top: 24px;
  }

  /*ANIMATION*/
.row-btn, .circle, .row{
	-webkit-transition: all 0.1s ease;
	-moz-transition:    all 0.1s ease;
	-o-transition:      all 0.1s ease;
	-ms-transition:     all 0.1s ease;
	transition:         all 0.1s ease;	
}